:root {
    --full-height: 100vh;
    --header-text: clamp(2.5rem, 3vw, 3rem);
    --medium-spacing: 1rem;
    --large-spacing: 3rem;
    --main-color: #526D82;
    --secondary-color: #27374D;
    --completed: rgba(85, 133, 85, 0.733);
    --medium-priority: #9DB2BF;
    --high-priority: #DDE6ED;
    --medium-font: 1.5rem;
    --small-spacing: .5rem;

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--secondary-color);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* NAV BAR STYLING SECTION */
nav {
    background-color: var(--secondary-color);
    min-width: 350px;

    flex: 1;
    height: var(--full-height);
}
nav ul {
  display: flex;
  flex-direction: column;
  padding-left: var(--small-spacing);
}
nav ul li {
  margin-top: var(--medium-spacing);
  display: flex;
  justify-content: space-between;

  font-size: clamp(1.5rem, 2vw, 2rem);
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  padding-top: 3px;

  color: var(--medium-priority);
  background-color: var(--main-color);

  min-height: var(--large-spacing);
  border-radius: 15px;
  width: 100%;
  padding-left: var(--small-spacing);
}
nav ul li:hover {
  transform: scale(1.005);
  transition: .5s;
}
.delete-project-btn {
  width: 1.6rem;
  border: none;
  margin-right: var(--small-spacing);
  cursor: pointer;
}
.delete-project-btn:hover {
  transform: scale(1.2);
  transition: .5s;
}
#title {
    display: flex;
    justify-content: space-between;

    margin-top: var(--large-spacing);
}
h1 {
    font-size: var(--header-text);
    padding-left: var(--small-spacing);

    color: var(--high-priority);
}
#add-project-btn {
    padding-right: var(--small-spacing);
    width: 50px;

    cursor: pointer;
}
#add-project-btn:hover, #add-task:hover {
    transform: scale(1.05);
    transition: .5s;
}

main {
    background-color: var(--main-color);

    flex: 6;
    min-width: 750px;

    margin: var(--large-spacing);
    margin-left: 0;
    border-radius: var(--small-spacing);
}

header {
    display: flex;
    justify-content: space-between;
}
#add-task {
    background-color: var(--high-priority);
    color: var(--main-color);

    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-right: var(--large-spacing);
    margin-top: var(--medium-spacing);
    height: var(--large-spacing);
    font-size: var(--medium-font);
    border-radius: var(--medium-spacing);
    width: 150px;
}
#current-project {
    display: flex;
    gap: var();
}
#current-project > p {
    font-size: var(--medium-font);
    padding: var(--medium-spacing) 0 0 var(--medium-spacing);
}
#current-project > p:first-child, #current-project > p:nth-of-type(2) {
  color: var(--medium-priority);
}
#active-project {
  color: var(--high-priority);
}
table {
    width: 100%;
    border: 2px solid var(--secondary-color);

    color: var(--high-priority);
    background-color: var(--secondary-color);
    font-size: var(--medium-font);
    font-weight: bold;
    
    text-align: center;
    border-collapse: collapse;

    margin-top: var(--medium-spacing);
}
thead tr th:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}
#completed {
  background-color: var(--completed);
  text-decoration-line: line-through;
  
}
th {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
}
td {
  box-shadow: 0 0 3px var(--high-priority);
}
tr:nth-child(even) {
  background-color: var(--main-color);
}
tr td:last-child {
  display: flex;
  justify-content: space-between;
}
.green td div:first-child, .orange td div:first-child, .red td div:first-child {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: auto;
  border: 2px solid #000;
}
.green td div:first-child {
  background-color: rgba(153, 212, 64, 0.801);
}
.orange td div:first-child {
  background-color: rgba(245, 146, 34, 0.726);
}
.red td div:first-child {
  background-color: rgba(221, 40, 40, 0.829);
}
dialog {
  margin: auto;
  color: var(--high-priority);
  height: 50%;

  background-color: var(--secondary-color);
}
#sorting-btn {
  cursor: pointer;
  width: 3rem;
}
#edit-task-btn {
  width: clamp(2rem, 2vw, 3rem);
  cursor: pointer;
  padding-top: 3.5rem;
}
/* PROJECT DIALOG */
dialog form {
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  text-align: center;
}
dialog form input {
  border-radius: 25px;
  border: none
}
dialog form input:focus {
  outline: none;
  border: 2px solid var(--high-priority);
}
dialog form button:first-of-type {
  background-color: var(--secondary-color);
  color: var(--high-priority);
  font-size: 2.2rem;
  cursor: pointer;

  align-self: flex-end;
  border: none;
  height: 0;
  transform: translate(1px, -25px);
}
dialog form button:first-of-type:focus, .delete-project-btn {
  outline: none;
}
dialog form button:first-of-type:hover {
  transform: translate(1px, -30px) scale(1.1);
  transition: .5s;
}