:root {
    --full-height: 100vh;
    --header-text: clamp(2.5rem, 3vw, 3rem);
    --medium-spacing: 1rem;
    --large-spacing: 3rem;
    --main-color: #ffffff;
    --secondary-color: #FFD5C2;
    --completed: #588B8B;
    --medium-priority: #F28F3B;
    --high-priority: #C8553D;
    --medium-font: 1.5rem;
    --small-spacing: .5rem;

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--secondary-color);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* NAV BAR STYLING SECTION */
nav {
    background-color: var(--secondary-color);
    min-width: 350px;

    flex: 1;
    height: var(--full-height);
}
nav ul {
  display: flex;
  flex-direction: row;
  background-color: red;
}
#title {
    display: flex;
    justify-content: space-between;

    margin-top: var(--large-spacing);
}
h1 {
    font-size: var(--header-text);
    padding-left: var(--small-spacing);

    color: var(--high-priority);
}
#add-project-btn {
    padding-right: var(--small-spacing);
    width: 50px;

    cursor: pointer;
}
#add-project-btn:hover, #add-task:hover {
    transform: scale(1.05);
    transition: .5s;
}

main {
    background-color: var(--main-color);

    flex: 6;
    min-width: 750px;

    margin: var(--large-spacing);
    margin-left: 0;
    border-radius: var(--small-spacing) var(--large-spacing) var(--large-spacing) var(--small-spacing);
}

header {
    display: flex;
    justify-content: space-between;
}
#add-task {
    background-color: var(--high-priority);
    color: var(--main-color);

    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-right: var(--large-spacing);
    margin-top: var(--medium-spacing);
    height: var(--large-spacing);
    font-size: var(--medium-font);
    border-radius: var(--medium-spacing);
    width: 150px;
}
#current-project {
    display: flex;
    gap: var();
}
#current-project > p {
    color: var(--medium-priority);
    font-size: var(--medium-font);
    padding: var(--medium-spacing) 0 0 var(--medium-spacing);
}
table {
    width: 100%;
    border: 2px solid;

    color: var(--high-priority);
    background-color: var(--secondary-color);
    font-size: var(--medium-font);
    font-weight: bold;
    
    text-align: center;
    border-collapse: collapse;

    margin-top: var(--medium-spacing);
}
th {
    border: 2px solid;
}
dialog {
  margin: auto;

  background-color: var(--secondary-color);
  border-radius: 25px;
  border: 5px solid var(--high-priority);
  box-shadow: 0 0 15px var(--high-priority);
}
/* PROJECT DIALOG */
dialog form {
  font-size: var(--medium-font);

  display: flex;
  flex-direction: column;
  text-align: center;
}
dialog form input {
  border-radius: 25px;
  border: none
}
dialog form input:focus {
  outline: none;
  border: 2px solid var(--high-priority);
}
dialog form button:first-of-type {
  background-color: var(--secondary-color);
  color: var(--high-priority);
  font-size: 2.2rem;
  cursor: pointer;

  align-self: flex-end;
  border: none;
  height: 0;
  transform: translate(1px, -25px);
}
dialog form button:first-of-type:focus {
  outline: none;
}
dialog form button:first-of-type:hover {
  transform: translate(1px, -30px) scale(1.1);
  transition: .5s;
}